.vscode
.obsidian/
tmp/
settings.toml

# for now don't track these as they constantly have breaking changes
projects/

# Added by cargo

/target
/Cargo.lock
*.lock
/settings.toml
/target
/src/app/simulator/programs/Test/target
